* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  background-color: burlywood;
  --white-color: #fff;
  --gray-color: #333;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  height: 80%;
}

.app-heading {
  text-align: center;
  margin: 18px;
  font-size: 52px;
  color: var(--white-color);
  user-select: none;
}

.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hint {
  color: var(--gray-color);
  margin: 40px;
  font-size: 18px;
}

.numerical-input {
  height: 62px;
  padding: 5px 15px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--white-color);
  font-size: 20px;
  transition: all 0.3s;
  box-shadow: 0.5px 0.5px 1px var(--gray-color);
}

.numerical-input:hover {
  box-shadow: 1px 3px 10px var(--gray-color);
}

.english-word {
  margin: 40px;
  font-size: 24px;
  max-width: 80%;
  text-align: center;
}

.redirection-link {
  color: var(--gray-color);
  position: absolute;
  bottom: 5px;
  right: 5px;
}

@media only screen and (max-width: 768px) {
  body {
    height: 60%;
  }

  .app-heading {
    font-size: 32px;
  }
}
